<div class="container">

	<!-- Main hero unit for a primary marketing message or call to action -->
	<div class="hero-unit">
		<h1>Korisnici</h1>
		<br>
		<div class="">
			<ul class="thumbnails">
					<% @users.each do |user| %>
						<li class="span5">
							<div class="col-xs-3 col-md-2">
								<div class="thumbnail"> 
									<%= 
									logger.debug user.avatar_url;
									if user.avatar? 
										image_tag(user.avatar_url ,size: "120x120",class: "imageClip") 
									else 
										image_tag('/bluebells_darker.jpg' ,size: "120x120",class: "imageClip")
									end%> </div>
								<div class="caption">
        							<h5><%= user.name %></h5>
        						</div>
        						<%= link_to 'Edit', edit_user_path(user), class: "btn btn-sm btn-primary" %>
								<%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
							</div>

					<% end %>

		</li>
		</ul>
		<br>
	</div>	
		<%= link_to 'New User', new_user_path, class: "btn btn-success", 'data-no-turbolink' => true %>

</div>
