<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h3>Admin Panel</h3>


    <div class="well leftmenu" >
      <ul class="nav nav-pills nav-stacked">
        <li <% if (params[:menu] == 'dashboard')%>  class="active" <% end %> ><%= link_to 'Dashboard', admin_panel_path('dashboard'), 'data-no-turbolink' => true %></a></li>
        <li <% if (params[:menu] == 'users')%>  class="active" <% end %> ><%= link_to (t "user.users"), admin_panel_path('users'), 'data-no-turbolink' => true %></li>
        <li <% if (params[:menu] == 'ads')%>  class="active" <% end %> ><%= link_to (t "ad.ads"), admin_panel_path('ads'), 'data-no-turbolink' => true %></li>
      </ul>
    </div>

    <div class="well rightcontent" >
      <%= if (params[:menu] == 'users')
            render :partial => 'users/indexSearch' end %>
    </div>


    <div class="clear"/>

    <p id="notice"><%= notice %></p>
  </div>
 </div>


