<div class="container">

	<!-- Main hero unit for a primary marketing message or call to action -->
	<div class="hero-unit">
		<h3>Admin Panel</h3>

		<div class="well leftmenu" >
			<ul class="nav nav-pills nav-stacked">
				<li <% if (params[:menu] == 'dashboard')%>  class="active" <% end %> >
					<%= link_to 'Dashboard', admin_panel_path('dashboard'), 'data-no-turbolink' => true %></a>
				</li>
				<li <% if (params[:menu] == 'users')%>  class="active" <% end %> >
					<%= link_to (t "user.users"), admin_panel_path('users'), 'data-no-turbolink' => true %>
				</li>
				<li <% if (params[:menu] == 'ads')%>  class="active" <% end %> >
					<%= link_to (t "ad.ads"), admin_panel_path('ads'), 'data-no-turbolink' => true %>
				</li>
			</ul>
		</div>

		<div class="well rightcontent" >
			
			<%= if (params[:menu] == 'users')
      			render :partial => 'users/indexSearch' end %>



			<% if (params[:menu] == 'dashboard') %>
			<div class="media">
                <small><span class="label label-default"><%= t "dashboard.registrated_users_per_date" %></span></small>
                <br>
                <canvas id="myChart"  height="250">
                  <%= t "dashboard.browser_canvas_support" %>
                </canvas>
                <script>var txx =<%= raw User.select("date(created_at) as c_date, count(id) as c_num").group("date(created_at)").to_json%>
                    var labdata = [];
                    var datdata = [];

                    for (var i = 0; i < txx.length; i++) {
                        labdata[i] = txx[i].c_date;
                        datdata[i] = txx[i].c_num;
                    }


                    var data = {
                        labels : labdata,
                        datasets : [{
                            fillColor : "rgba(220,220,220,0.5)",
                            strokeColor : "rgba(220,220,220,1)",
                            pointColor : "rgba(220,220,220,1)",
                            pointStrokeColor : "#ff",
                            data : datdata
                        }]
                    };

                var ctx = document.getElementById("myChart").getContext("2d");
                var myNewChart = new Chart(ctx).Line(data);
                </script>


				<br>
                <small><span class="label label-default"><%= t "dashboard.registrated_users_per_day" %></span></small>
                <br>
                <canvas id="myChart2"  height="250">
                  <%= t "dashboard.browser_canvas_support" %>
                </canvas>
                <script>
                    var txx =<%= raw User.select("dayname(date(created_at)) as c_date, count(id) as c_num").group("dayname(date(created_at))").to_json%>
                    var labdata = [];
                    var datdata = [];

                    for (var i = 0; i < txx.length; i++) {
                        labdata[i] = txx[i].c_date;
                        datdata[i] = txx[i].c_num;
                    }


                    var data = {
                        labels : labdata,
                        datasets : [{
                            fillColor : "rgba(220,220,220,0.5)",
                            strokeColor : "rgba(220,220,220,1)",
                            pointColor : "rgba(220,220,220,1)",
                            pointStrokeColor : "#ff",
                            data : datdata
                        }]
                    };

                    var ctx = document.getElementById("myChart2").getContext("2d");
                    var myNewChart = new Chart(ctx).Line(data);

                </script>




                <br>
                <small><span class="label label-default"><%= t "dashboard.logins_count_per_day" %></span></small>
                <br>
                <canvas id="myChart3"  height="250">
                <%= t "dashboard.browser_canvas_support" %>
                </canvas>
                <script>
                    var txx =<%= raw Log.where("tag = ?", "login").select("date(created_at) as c_date, count(id) as c_num").group("date(created_at)").to_json%>
                    var labdata = [];
                    var datdata = [];

                    for (var i = 0; i < txx.length; i++) {
                    labdata[i] = txx[i].c_date;
                    datdata[i] = txx[i].c_num;
                    }


                    var data = {
                    labels : labdata,
                    datasets : [{
                      fillColor : "rgba(220,220,220,0.5)",
                      strokeColor : "rgba(220,220,220,1)",
                      pointColor : "rgba(220,220,220,1)",
                      pointStrokeColor : "#ff",
                      data : datdata
                    }]
                    };

                    var ctx = document.getElementById("myChart3").getContext("2d");
                    var myNewChart = new Chart(ctx).Line(data);
                </script>


                <br>
                <small><span class="label label-default"><%= t "dashboard.logins_count_per_month" %></span></small>
                <br>
                <canvas id="myChart4"  height="250">
                    <%= t "dashboard.browser_canvas_support" %>
                </canvas>
                <script>
                    var txx =<%= raw Log.where("tag = ?", "login").select("monthname(created_at) as c_date, count(id) as c_num").group("c_date").to_json%>
                    var labdata = [];
                    var datdata = [];

                    for (var i = 0; i < txx.length; i++) {
                      labdata[i] = txx[i].c_date;
                      datdata[i] = txx[i].c_num;
                    }


                    var data = {
                      labels : labdata,
                      datasets : [{
                          fillColor : "rgba(220,220,220,0.5)",
                          strokeColor : "rgba(220,220,220,1)",
                          pointColor : "rgba(220,220,220,1)",
                          pointStrokeColor : "#ff",
                          data : datdata
                      }]
                    };

                    var ctx = document.getElementById("myChart4").getContext("2d");
                    var myNewChart = new Chart(ctx).Line(data);
                </script>
	        </div>

          <div>
            <small><span class="label label-default"><%= t "dashboard.ratio_of_users_per_type" %></span></small>
            <br>
            <ul style="list-style-type: square">
              <li style="color: #F7464A ">Administrator</li>
              <li style="color: #36ea30 ">Klijent</li>
              <li style="color: #4d53d4 ">Oglasivac</li>
            </ul>
            <canvas id="myChart5"  height="250">
              Your browser does not support the HTML5 canvas tag.
            </canvas>

            <script>var txx =<%= raw User.group(:user_type_id).count.to_json%>
            var admin, klijent, ogalasivac = 0;
            admin = txx[1];
            klijent = txx[2];
            oglasivac = txx[3];
            var data = [
                {
                    value: admin,
                    color:"#F7464A"
                },
                {
                    value : klijent,
                    color : "#36ea30"
                },
                {
                    value : oglasivac,
                    color : "#4d53d4"
                }
            ]
            var ctx = document.getElementById("myChart5").getContext("2d");
            var myNewChart = new Chart(ctx).Doughnut(data);

            </script>
          </div>

            <div>
              <small><span class="label label-default"><%= t "dashboard.ratio_of_users_per_type" %></span></small>
              <br>
              <ul style="list-style-type: square">
                <li style="color: #12f7b2 ">Aktivirnih</li>
                <li style="color: #ea0dc5 ">Neaktiviranih</li>
              </ul>
              <canvas id="myChart6"  height="250">
                Your browser does not support the HTML5 canvas tag.
              </canvas>

              <script>var txx =<%= raw User.group(:is_activated).count.to_json%>
              var admin, klijent, ogalasivac = 0;
              aktiviranih = txx.true;
              neaktiviranih = txx.false;
              var data = [
                  {
                      value: aktiviranih,
                      color:"#12f7b2"
                  },
                  {
                      value : neaktiviranih,
                      color : "#ea0dc5"
                  }
              ]
              var ctx = document.getElementById("myChart6").getContext("2d");
              var myNewChart = new Chart(ctx).Pie(data);

              </script>
            </div>
        <%end%>
		</div>

		<div class="clear"></div>

		<p id="notice">
			<%= notice %>
		</p>
	</div>
</div>
