<!DOCTYPE html>
<html  ng-app="NWTMarketinghub"> 
<head>
  <title>NWTMarketinghub</title>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
  	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js"></script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "Chart", "data-turbolinks-track" => true %>
 
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render :partial => 'layouts/header' %>


    <%= yield %>

  	<%= javascript_include_tag "application" %>


</body>
</html>
